In [1]:
                                                                # ASSOCIATION RULES

In [4]:
import pandas as pd

dg = pd.read_excel("Online retail.xlsx", header = None)
df = dg[0].str.split(',', expand=True)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,chutney,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7498,chicken,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7499,escalope,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [6]:
df.shape

(7501, 20)

In [7]:
df.columns

RangeIndex(start=0, stop=20, step=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,5747,4389,3345,2529,1864,1369,981,654,395,256,154,87,47,25,8,4,4,3,1
unique,115,117,115,114,110,106,102,98,88,80,66,50,43,28,19,8,3,3,3,1
top,mineral water,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,salmon,frozen smoothie,protein bar,spinach,olive oil
freq,577,484,375,201,153,107,96,67,57,31,22,15,8,4,3,1,2,2,1,1

In [10]:
df.nunique()

0     115
1     117
2     115
3     114
4     110
5     106
6     102
7      98
8      88
9      80
10     66
11     50
12     43
13     28
14     19
15      8
16      3
17      3
18      3
19      1
dtype: int64

In [11]:
# Drop rows with missing values
df.isnull().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

In [12]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [13]:
# Convert each row into a list of items
transactions = df.iloc[:, 0].apply(lambda x: x.split(',')).tolist()
transactions[:5]

[['shrimp'], ['burgers'], ['chutney'], ['turkey'], ['mineral water']]

In [14]:
# Transaction Encoding
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
basket_df = pd.DataFrame(te_ary, columns=te.columns_)
basket_df.head()

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,tomatoes,toothpaste,turkey,vegetables mix,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# Apply Apriori
frequent_itemsets = apriori(basket_df, min_support=0.02, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False).head()

     support             itemsets
10  0.076923      (mineral water)
0   0.076790            (burgers)
14  0.061059             (turkey)
1   0.052126          (chocolate)
5   0.049727  (frozen vegetables)

In [18]:
# Generate Association Rules
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules_sorted = rules.sort_values(by='lift', ascending=False)
rules_sorted[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head(10)

Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

In [19]:
# Interview Questions:

In [20]:
# 1. What is lift and why is it important in Association rules?

In [23]:
# Definition:
# Lift measures how much more likely two items are to be bought together than if they were independent.

# Lift= Confidence(A→B)/Support(B)
 
# Interpretation:
# Lift = 1: A and B are independent.
# Lift > 1: A and B are positively correlated (more likely to occur together).
# Lift < 1: A and B are negatively correlated (less likely to occur together).

# Importance:
# Lift helps identify truly interesting rules. It filters out rules that may seem strong (e.g., high confidence) but actually occur just 
# because the consequent is very common.

In [24]:
# 2. What is support and Confidence. How do you calculate them?

In [25]:
# Support:
# Support tells how frequently the itemset appears in the dataset.

# Support(𝐴→𝐵) = Transactions containing both A and B / Total transactions 
 
# Confidence:
# Confidence indicates how often B is bought when A is bought.

# Confidence(𝐴→𝐵) = Support(𝐴∪𝐵) / Support(𝐴)

In [26]:
# 3. What are some limitations or challenges of Association rules mining?

In [ ]:
# | **Challenge**     | **Explanation**                                                                |
# | ----------------- | ------------------------------------------------------------------------------ |
# | Too Many Rules    | Can generate thousands of rules, many of which are uninteresting.              |
# | Rare Item Problem | Rare but valuable associations may be missed if support threshold is too high. |
# | Scalability       | Large datasets can make computation slow and memory intensive.                 |
# | Lack of Context   | Association rules only show correlation, not causation.                        |
# | Redundancy        | Many rules might express the same pattern in slightly different ways.          |